@use 'mixinfunc';

.cover{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none; 
    place-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-cover;
    z-index: 1;
}

.modal{
    width: mixinfunc.em(600);
    max-height: 90vh;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 1em;
    background-color: #FFFFFF;
    overflow-y: auto;
    z-index: 2;

    &__header{
        width: 100%;
        display: flex;
        position: sticky;
        top: 0;
        left: 0;
        align-items: center;
        padding: .5em 0;
    }

    &__header--active{
        background-color: rgba(255, 255, 255, 0.85);
        backdrop-filter: blur(12px);
    }

    &__close{
        width: mixinfunc.em(36);
        height: mixinfunc.em(36);
        border-radius: 50%;
        display: grid;
        place-items: center;
        cursor: pointer;
        margin-left: .5em;
    }

    &__close:hover{
        background-color: $color-hover-pry;
    }

    &__xmark{
        width: mixinfunc.em(20);
        height: mixinfunc.em(20);
    }

    &__main{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 9fr;
    }

    &__profile{
        width: max-content;
        margin-left: 1em;
    }

    &__img{
        width: 3.1em;
        height: 3.1em;
        border-radius: 50%;
        margin-top: .2em;
    }

    &__wrapper{
        width: 100%;
        border-bottom: 1px solid rgba(216, 217, 219, .5);
        padding: 0 1em .5em 1em;
    }

    &__all{
        width: max-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0 .7em;
        border-radius: 1em;
        color: $color-primary;
        font-size: .9em;
        font-weight: 600;
        gap: .5em;
        cursor: pointer;
        margin-top: .7em;
        border: 1px solid $color-modal-line;
    }

    &__all:hover{
        background-color: $color-hover-sec;
    }

    &__arrow{
        width: 1em;
        height: 1em;
    }

    &__input{
        width: 100%;
        min-height: mixinfunc.em(80);
        margin: 1em 0 .5em 0;
        font-size: 1.3em;
        font-weight: 400;
        line-height: 1.5em;
        outline: none;
        resize: none;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        overflow-y: hidden;
    }

    &__input::-webkit-scrollbar{
        display: none;
    }

    &__span{
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        gap: .3em;
        font-size: .9em;
        font-weight: 600;
        color: $color-primary;
        cursor: pointer;
        border-radius: 1em;
        padding: .1em .9em;
    }

    &__span:hover{
        background-color: $color-hover-sec;
    }

    &__world{
        width: 1.1em;
        height: 1.1em;
    }

    &__footer{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: end;
    }

    &__box{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: .5em 1em;
        gap: 4.5em;
    }

    &__ul{
        display: flex;
        flex-direction: row;
        gap: .2em;
        color: $color-primary;
    }

    &__li{
        padding: .5em;
        border-radius: 50%;
        cursor: pointer;
    }

    &__li:hover{
        background-color: $color-hover-sec;
    }

    &__icon{
        width: 1.2em;
        height: 1.2em;
    }

    &__actions{
        width: max-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
    }

    &__spinner{
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        border: 2px solid $color-modal-line;
        margin: 0 .5em;
    }

    &__addtweet{
        padding: .2em;
        border-radius: 50%;
        border: 1px solid $color-modal-line;
        cursor: pointer;
        margin: 0 .5em;
    }

    &__addtweet:hover{
        background-color: $color-hover-sec;
    }

    &__add{
        width: 1em;
        height: 1em;
        color: $color-primary;
    }

    &__twettear{
        padding: .5em 1em;
        color: #FFFFFF;
        font-weight: 700;
        border-radius: 1em;
        margin-left: .5em;
        background-color: $color-primary;
        cursor: pointer;
    }

    &__twettear:hover{
        background-color: $color-hover-btn;
    }
}

.cover--active{
    display: grid;
}

.modal--active{
    display: flex;
}
